/* .banner {
  background-image: url("../../images/cover.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
} */



.heroSection{
  background-image: url("../../images/ecomerceimg.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.heroSection > h4 {
  font-size: 1.7rem;
  padding-bottom: 15px; 
}

.heroSection > h2 {
  font-size: 2.5rem; 
}

.heroSection > h1 {
  font-size: 4rem; 
  color: #088178;
  padding-bottom: 10px;
}

.heroSection > p {
  font-size: 1.2rem;
  
}

.heroSection > button {
  font-size: 1.2rem;
  background-image: url("../../images/button.png");
  background-color: transparent;
  border: none;
  color: #088178;
  background-repeat: no-repeat; 
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  
}

.feature-section{
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.fa-box{
  border: 1px solid #ddd;
  padding: 45px 15px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.fa-box > p {
  color: #088178;
  background-color: #fddde4;
  width: 82%;
  margin-top: 2px;
  margin-left: 11%;
  border-radius: 4px;
}

.feature-section > .fa-box:nth-child(2) > p {
  background-color: #cdebbc;
}

.feature-section > .fa-box:nth-child(3) > p {
  background-color: #d1e8f2 ;
}

.feature-section > .fa-box:nth-child(4) > p {
  background-color: #cdd4f8;
}

.feature-section > .fa-box:nth-child(5) > p {
  background-color: #f6dbf6;
}

.feature-section > .fa-box:nth-child(6) > p {
  background-color: #fff2e5;
}






/* .banner > h1 {
  margin: 5vmax;

  font: 600 2.5vmax "Roboto";
}

.banner > p {
  font: 300 1.4vmax "Lucida Sans";
} */

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

/* .banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
} */

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 2.2vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.productCard > img {
  width: 14vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

.productCard > span {
  font-size: 1.5vmax;
}

.productCard > div > span {
  font: 300 1vmax "Roboto";
}



@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .heroSection {
    padding: 0 20px; 
    background-position: left center;
    height: 75vh;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
  .feature-section{
    justify-content: space-evenly;
  }

  .fa-box{
   padding: 14px 5px;
   
  }
}


